header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 10px;
    width: calc(100% - 20px);
    height: 4rem;
    border-radius: var(--RADIUS-1);
    color: var(--COLOR-LOGO);
    background: var(--HEADER-PRIVATE-COLOR);
    filter: drop-shadow(2px 2px 10px #868585);
    z-index: 200;

    .left {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .brand {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 600;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 10px;

        .not-sm {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .notification-icon {
            position: relative;
            background: var(--COLOR-NOTIFICATION);
            box-shadow: 5px 5px 20px var(--SHADOW-COLOR);
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--COLOR-1);
            cursor: pointer;

            .new-notification {
                position: absolute;
                top: -15px;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--COLOR-1);
                color: var(--logo-color);
                border: 1px solid;
                border-style: dashed;
                // box-shadow: 5px 5px 20px #00000056;
                font-weight: 600;
                height: 20px;
                width: 20px;
            }
        }
    }
}

// Responsive==================================================

// @media screen and (max-width: 1000px) {
//     header {
//         .right {
//             button {
//                 padding: 10px;
//                 small {
//                     display: none !important;
//                 }
//             }
//         }
//     }
// }

@media screen and (max-width: 545px) {
    header {
        .left .brand span {
            display: none;
        }
        //         .right {
        //             // margin-bottom: 10px;
        //             .not-sm {
        //                 position: absolute;
        //                 top: 150px;
        //                 flex-direction: column;

        //                 .notification-icon {
        //                     box-shadow: 2px 2px 3px var(--SHADOW-COLOR), -2px -2px 3px var(--SHADOW-COLOR);
        //                 }
        //             }
        //         }
    }
}