.connection {
    .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

        .left {
            display: flex;
            align-items: center;
            width: 60%;
            overflow: hidden;

            img {
                width: 70%;
                object-fit: cover;
            }
        }

        .right {
            position: absolute;
            text-align: center;
            min-width: 400px;
            padding: 2rem;

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 100%;
                background: #0000006b;
                padding: 1rem;
                border-radius: var(--RADIUS-1);

                p {
                    color: var(--COLOR-2);
                    font-weight: 600;
                }

                h2 {
                    color: var(--COLOR-1);
                }

                input,
                textarea {
                    padding: 1rem;
                    font-size: 1rem;
                    background: #fff;
                    border: none;
                    border-radius: var(--RADIUS-1);
                    resize: none;
                    outline: none;
                }

                input {
                    height: 40px;
                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: 400px) {
    .connection {
        .content {
            .left {
                width: 100%;
    
                img {
                    width: 100%;
                }
            }
    
            .right {
                min-width: 100%;
            }
        }
    }
}