.connection {
    .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;


        form {
            display: flex;
            flex-direction: column;
            background: #ffffffa6;
            padding: 2rem;
            min-width: 400px;
            border-radius: var(--RADIUS-1);
            filter: drop-shadow(-10px 5px 30px #dbdbdb);

            h1 {
                position: relative;
                margin-bottom: 1rem;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 100px;
                    height: 4px;
                    background: var(--COLOR-1);
                }
            }

            .option {
                span {
                    color: #0404ff;
                    font-weight: 500;
                    cursor: pointer;
                }
            }

            input,
            textarea {
                padding: .7rem;
                background: #eeeeee;
                border: none;
                border-radius: var(--RADIUS-2);
                resize: none;
                outline: none;
                margin-top: 1rem;
            }

            button {
                margin-top: 1rem;
                font-weight: 600;
            }

            .other-account {
                margin-top: 2rem;
                display: flex;
                flex-direction: column;

                p{
                    text-align: center;
                    font-weight: 600;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 150px;
                        height: 2px;
                        background: var(--COLOR-1);
                        left: 0;
                        bottom: 10px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 150px;
                        height: 2px;
                        background: var(--COLOR-1);
                        right: 0;
                        bottom: 10px;
                    }
                }

                button {
                    outline: none;
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: 400px) {
    .connection {
        .content {
            .left {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .right {
                min-width: 100%;
            }
        }
    }
}