.publicHeader {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 5rem;
    z-index: 40;
    background: var(--COLOR-PRIMARY);
    box-shadow: 5px 5px 5px #47474762;


    .logo {
        color: var(--COLOR-LOGO);
        font-weight: 600;
        font-size: var(--SIZE-2);
        border: 1px solid;
        border-style: dashed;
        padding: .5rem;
    }

    nav {
        display: flex;
        align-items: center;
        color: var(--COLOR-1);

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            list-style: none;

            li {
                a {
                    position: relative;
                    font-size: var(--SIZE-3);
                    color: var(--COLOR-1);
                    font-weight: 500;
                    padding: .4rem;
                    cursor: pointer;
                    transition: .5s;

                    &:hover {
                        &::after {
                            content: '';
                            position: absolute;
                            top: 32px;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background: var(--COLOR-1);
                        }
                    }
                }

                .link-active {
                    &::after {
                        content: '';
                        position: absolute;
                        top: 32px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: var(--COLOR-1);
                    }

                    color: var(--COLOR-1);
                    font-weight: 700;
                }
            }
        }
    }

    .menu {
        display: none;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        transition: 1s;

        .Icon-menu {
            position: relative;
            width: 25px;
            height: 2px;
            background: var(--COLOR-1);
            
            &::before {
                transition: 1s;
                content: '';
                position: absolute;
                width: 25px;
                height: 2px;
                background: var(--COLOR-1);
                top: -8px;
            }
            
            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 2px;
                background: var(--COLOR-1);
                top: 8px;
                transition: 1s;
            }
        }

        &:hover {
            cursor: pointer;

            .Icon-menu {
                background: none;

                &::before {
                    top: 0px;
                    transform: rotate(45deg);
                }

                &::after {
                    top: 0px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (max-width: 825px) {
    .publicHeader {
        padding: 0 2rem;
        
        nav {
            position: absolute;
            top: 4.5rem;
            right: 0;
            display: flex;
            align-items: center;
            color: var(--COLOR-1);
            background: var(--COLOR-PRIMARY);
            box-shadow: -5px 5px 10px #14141481;
            width: 200px;
            height: 250px;
            transform: translateX(1000%);
            transition: 1s;

            ul {
                flex-direction: column;
                align-items: start;
                gap: 30px;
                margin-left: 10px;
            }
        }

        .show {
            transform: translateX(0);
        }

        .menu {
            display: flex;
        } 
    }
}