.home {
    .SectionMain {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: var(--COLOR-1);
        min-height: 100vh;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 55%;
            height: auto;
            text-align: center;

            .title {
                font-size: var(--SIZE-1);
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            .description {
                font-size: var(--SIZE-2);
            }

            .search-content {
                margin: 2rem 0;
                display: flex;
                justify-content: center;
                gap: 10px;

                .search {
                    padding: .8rem;
                    min-width: 250px;
                    height: 45px;
                    font-size: var(--SIZE-3);
                    border: 2px solid var(--COLOR-1);
                    border-radius: 10px;
                    outline: none;
                    background: none;
                    color: var(--COLOR-1);

                    &::placeholder {
                        color: var(--COLOR-1);
                    }
                }
            }
        }

        .right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35%;
            filter: saturate(0);

            img {
                width: 100%;
                object-fit: cover;
                filter: drop-shadow(-10px 5px 30px #868585);
            }
        }
    }

    .about {
        display: flex;
        gap: 1rem;
        background-image: url('../../assets/images/bg.jpg');

        .left {
            width: 50%;
            // filter: drop-shadow(-10px 5px 30px #868585);
            overflow: hidden;

            img {
                width: auto;
                object-fit: cover;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            color: var(--COLOR-1);
            text-align: justify;

            p {
                text-indent: 2rem;
                padding: 4rem 2rem;
                background: var(--COLOR-2);
                filter: drop-shadow(-10px 5px 30px #868585);
            }
        }
    }

    .mission {
        display: flex;

        .left,
        .right {
            width: 50%;
        }

        .left {
            padding: 4rem 2rem;
            background: var(--COLOR-2);
            border-radius: 70px;
            border-bottom-right-radius: 1px;
            filter: drop-shadow(-10px 5px 30px #868585);

            .actor {
                margin-left: 4rem;

                .actor-details {
                    margin-left: 2rem;
                }
            }
        }
    }
}

// RESPONSIVE=============
@media screen and (max-width: 825px) {
    .home {
        .SectionMain {
            flex-direction: column;
            justify-content: center;

            .left {
                width: 100%;
                height: auto;
                text-align: center;
                z-index: 30;
            }

            .right {
                width: 100%;
                filter: saturate(1);

                img {
                    width: 50%;
                    filter: opacity(.3);
                }
            }

        }

        .about {
            display: flex;
            flex-direction: column;

            .left,
            .right {
                width: 100%;
            }
        }

        .mission {
            display: flex;
            flex-direction: column;

            .left,
            .right {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .home {
        .SectionMain {
            flex-direction: column;
            justify-content: center;

            .left {
                .title {
                    font-size: var(--SIZE-1-SM);
                    text-transform: uppercase;
                    margin-bottom: 2rem;
                }

                .search-content {
                    flex-direction: column;

                    .search {
                        min-width: 250px;
                    }
                }
            }

            .right {
                width: 100%;
                filter: saturate(1);

                img {
                    width: 50%;
                    filter: opacity(.3);
                }
            }

        }

        .about {
            display: flex;
            flex-direction: column;

            .left,
            .right {
                width: 100%;
            }

            p {
                text-align: justify;
            }
        }

        .mission {
            display: flex;
            flex-direction: column;

            .left,
            .right {
                width: 100%;
            }

            p {
                text-align: justify;
            }
        }
    }

}