.partner {
    .content {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        min-height: 100vh;

        .type-partner {
            .type-partner-picture {
                justify-content: center;
                display: flex;
                gap: 1rem;

                img {
                    width: 10rem;
                    object-fit: cover;
                }
            }
        }

        .details-parter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: var(--COLOR-1);

            .infos-company {
                margin: 1rem 0;
                display: flex;
                flex-direction: column;
                gap: .6rem;
            }

            .contact {
                display: flex;
                align-items: center;
                margin: 1.7rem 0;
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
                    background: #e2e2e2;
                    padding: 1rem;
                    border-radius: var(--RADIUS-1);

                    h3 {
                        color: var(--COLOR-1);
                    }

                    input,
                    textarea {
                        padding: 1rem;
                        font-size: var(--SIZE-3);
                        background: #fff;
                        border: none;
                        border-radius: var(--RADIUS-1);
                        resize: none;
                    }

                    input {
                        height: 40px;
                    }
                }
            }
        }
    }
}