.sidebar,
.sidebar-min {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 230px;
    height: calc(100vh);
    border-radius: 5px;
    transition: 1s all;
    z-index: 100;

    .user {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 80px;
        width: 229px;
        background: var(--USER-BG);
        color: var(--USER-COLOR);
        padding: 0 10px;
        cursor: pointer;
        transition: 1s all;
        overflow: hidden;
        filter: drop-shadow(2px 2px 10px #868585);
        border-radius: var(--RADIUS-1);

        .avatar {
            display: flex;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: var(--color-1);
            transition: 1s all;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .info-user {
            display: flex;
            flex-direction: column;
            color: var(--color-1);
            transition: .3s;
            overflow: hidden;
            text-transform: capitalize;
        }

        .icon-text {
            font-size: 20px;
            color: var(--color-1);
        }
    }

    .icon-text {
        font-size: 14px;
        color: var(--aside-text-color);
        transition: .3s;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 229px;
        height: calc(100vh - 11.5rem);
        border-radius: var(--RADIUS-1);
        background: var(--ASIDE-COLOR);
        filter: drop-shadow(2px 2px 10px #868585);
        overflow: hidden;

        a {
            color: var(--ASIDE-TEXT-COLOR);
            font-weight: 600;
            text-decoration: none;
            padding-left: 30px;
            display: flex;
            gap: 5px;
            align-items: center;
            // width: 200px;
            min-height: 50px;
            font-size: var(--SIZE-3);
            transition: .3s;
            overflow: hidden;

            &.link-active {
                background: var(--ACTIVE-COLOR);
                color: var(--COLOR-2);
                font-weight: 500;
                position: relative;

                .icon-text {
                    color: var(--COLOR-2);
                }

                &::before {
                    width: 3px;
                    height: 20px;
                    background: var(--COLOR-2);
                    position: absolute;
                    content: '';
                    left: 0;
                }
            }

            &.link-active2 {
                // background: var(--color-2) !important;
                color: var(--ASIDE-TEXT-COLOR);
                border: 1px solid var(--ASIDE-TEXT-COLOR);
                border-style: dashed;
                font-weight: 500;
                transition: .3s;
            }

            &:not(a.link-active):hover {
                background: var(--SHADOW-COLOR);
            }

            i {
                margin-right: 20px;
                font-size: 20px;
                transition: .3s;
            }
        }

        .sous-menu {
            padding: 10px 5px;
            margin: 0 40px;
            color: var(--ASIDE-TEXT-COLOR);
            font-weight: 400;
            width: 100%;
            min-height: 40px;
            transition: .3s;

            &:hover {
                background: var(--SHADOW-COLOR) !important;
                color: var(--ASIDE-TEXT-COLOR);
                font-weight: 500;
            }

            i {
                font-size: 16px;
                margin-right: 10px;
            }

            span {
                font-size: 12px;
            }
        }
    }
}

.sidebar-min {
    width: 50px;

    .user {
        padding: 0px;
        padding-left: 5px;
        width: 50px;

        .icon-text {
            display: none;
        }

        .avatar {
            width: 40px;
            height: 40px;
        }

        .info-user {
            display: none;
        }

        .icon-text {
            font-size: 15px;
        }
    }

    .navigation {

        a {
            padding: 15px;
            padding-left: 15px;
        }

        .sous-menu {
            padding: 10px 5px;
            margin: 0 10px;

            span {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1000px) {

    .sidebar-min {
        width: 229px;
        // display: none;

        .user {
            width: 229px;
            padding: 0 10px;

            .avatar {
                width: 60px;
                height: 60px;
            }

            .info-user {
                display: flex;
            }
        }


        .navigation {
            a {
                padding: 15px;
                padding-left: 15px;
            }

            .sous-menu {
                padding: 10px 5px;
                margin: 0 10px;

                span {
                    display: flex;
                }
            }
        }
    }

    .sidebar {
        width: 50px;

        .user {
            padding: 0px;
            padding-left: 5px;
            width: 50px;

            .icon-text {
                display: none;
            }

            .avatar {
                width: 40px;
                height: 40px;
            }

            .info-user {
                display: none;
            }

            .icon-text {
                font-size: 15px;
            }
        }

        .navigation {

            a {
                padding: 15px;
                padding-left: 15px;
            }

            .sous-menu {
                padding: 10px 5px;
                margin: 0 10px;

                span {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 545px) {
    .sidebar-min {
        width: calc(100% - 1rem);
        background: linear-gradient(45deg, #ffffff, rgb(236, 234, 234));

        a {
            box-shadow: 2px 2px 2px #d8d8d8;
        }

        .sous-menu {
            box-shadow: 2px 2px 2px #e7e5e5;
            border: 1px solid #e7e5e5;
            border-style: dashed;
            margin-left: 40px !important;
        }

        .user {
            width: 100%;
        }

        .navigation {
            background: none;
        }
    }

    .sidebar {
        width: 0px;
        overflow: hidden;
        // display: none;

        .user {
            width: 0px;
        }
    }
}